code/nodered flow voor qgis plugin.json
[{"id":"2435003786a61d4b","type":"tab","label":"qgis","disabled":false,"info":"","env":[]},{"id":"2c953b296b46b832","type":"debug","z":"2435003786a61d4b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":220,"wires":[]},{"id":"b134ae7066084f42","type":"http response","z":"2435003786a61d4b","name":"Return","statusCode":"200","headers":{},"x":1050,"y":760,"wires":[]},{"id":"6094c362968ed41a","type":"function","z":"2435003786a61d4b","name":"mapper","func":"let x = msg.payload.datasets.results[0].resources\nmsg.payload = x.map(r =>\n{let prop = \n   {\n    \"catalog\": 'Open Urban Platform',\n    'title':r.name,\n    'description': r.description,\n    'accessurl': r.url,\n    'format': r.format\n\n/*\n    'identifier': r.package_id,\n        'format':r.format,\n      'creation-date': r.created,\n    'licence': r.license_id,\n    'status' : r.state */\n   }\n   return prop;\n}\n)\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":620,"wires":[[]]},{"id":"5574f3cba22391f8","type":"graphql","z":"2435003786a61d4b","name":"Open Urban Platform","graphql":"3eb83a19cfc5c666","format":"handlebars","syntax":"mustache","template":"query Datasets {\n  datasets \n    (search: \"{{payload.zoekterm}}\") \n    {\n      results {\n        title\n        description\n        license {\n          title\n          _id\n        }\n        maintainer\n        maintainerEmail\n        resources {\n          format\n          url\n          name\n          description\n        }\n        sharedHubs {\n          name\n        }\n        ownerHub {\n          name\n        }\n      }\n    }\n  }\n  ","showDebug":false,"x":620,"y":940,"wires":[["73442dfbbffb3166","453306f54bd9a37a"],[]]},{"id":"73442dfbbffb3166","type":"debug","z":"2435003786a61d4b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":840,"wires":[]},{"id":"ea92a97577a8128b","type":"change","z":"2435003786a61d4b","name":"Authorize","rules":[{"t":"set","p":"customHeaders.Authorization","pt":"msg","to":"payload.AuthenticationResult.AccessToken","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":740,"wires":[["d11a2c3cbec2fdf5"]]},{"id":"b62d72b30739af13","type":"http in","z":"2435003786a61d4b","name":"group_list_Rotterdam","url":"opendatarotterdam/api/3/action/group_list","method":"get","upload":false,"swaggerDoc":"dce86a29c49f29f1","x":120,"y":280,"wires":[["2c953b296b46b832","8e9f89c1039a51ef"]]},{"id":"7dc92b6272ebdb47","type":"http response","z":"2435003786a61d4b","name":"Return","statusCode":"200","headers":{},"x":890,"y":400,"wires":[]},{"id":"8e9f89c1039a51ef","type":"http request","z":"2435003786a61d4b","name":"CKAN rdam grouplist","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://ckan.dataplatform.nl/api/3/action/group_list?all_fields=true","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":480,"y":280,"wires":[["7dc92b6272ebdb47","be633d4765e740b6"]]},{"id":"7aeaa58a1d8e2f9b","type":"http in","z":"2435003786a61d4b","name":"package_search_rotterdam","url":"opendatarotterdam/api/3/action/package_search","method":"get","upload":false,"swaggerDoc":"67513f460997e291","x":130,"y":360,"wires":[["5903b4d4eafef8a9","3e7ba9f8015463b8"]]},{"id":"5903b4d4eafef8a9","type":"http request","z":"2435003786a61d4b","name":"CKAN rdam package_search","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://ckan.dataplatform.nl/api/3/action/package_search?q={{payload.q}}&sort={{payload.sort}}&rows={{payload.rows}}&start={{payload.start}}&fq={{payload.fq}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":500,"y":400,"wires":[["7dc92b6272ebdb47","7878a77d7e07200c"]]},{"id":"3e7ba9f8015463b8","type":"debug","z":"2435003786a61d4b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":320,"wires":[]},{"id":"4065e47a91dbd6ad","type":"http in","z":"2435003786a61d4b","name":"group_list","url":"api/3/action/group_list","method":"get","upload":false,"swaggerDoc":"290cb9633411732e","x":80,"y":240,"wires":[["8e9f89c1039a51ef"]]},{"id":"0a5df5a7dad0df9e","type":"http in","z":"2435003786a61d4b","name":"package_search_rotterdam","url":"api/3/action/package_search","method":"get","upload":false,"swaggerDoc":"92848a600c524f27","x":130,"y":400,"wires":[["5903b4d4eafef8a9"]]},{"id":"be633d4765e740b6","type":"debug","z":"2435003786a61d4b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":220,"wires":[]},{"id":"afc35a58b5d12ec9","type":"inject","z":"2435003786a61d4b","name":"","props":[{"p":"payload"},{"p":"payload.zoekterm","v":"a","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":660,"wires":[["54aeb7bccac2a40f"]]},{"id":"d11a2c3cbec2fdf5","type":"graphql","z":"2435003786a61d4b","name":"Open Urban Platform","graphql":"3eb83a19cfc5c666","format":"handlebars","syntax":"mustache","template":"query publichubs  {\n  publicHubs(types: [COMMUNITY]) {\n    results {\n      name\n      type\n    }\n  }\n}","showDebug":false,"x":600,"y":740,"wires":[["285662dcbd939ede","8998ed68d96ffbe7"],[]]},{"id":"285662dcbd939ede","type":"debug","z":"2435003786a61d4b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":660,"wires":[]},{"id":"8998ed68d96ffbe7","type":"function","z":"2435003786a61d4b","name":"mapper","func":"let p = 0\nlet hub = ''\nvar obj = []\n\nmsg.payload.help = 'https://ckan.dataplatform.nl/api/3/action/help_show?name=group_list'\nmsg.payload.success = true\n\nlet results = msg.payload.publicHubs.results\n\nfor (let i = 0; i < results.length; i++) {\n  obj[i] = \n  {\n    \"display_name\" : results[i].name\n  }\n}\nmsg.payload.result = obj.sort()\nreturn msg;\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":740,"wires":[["62fa1d20811ccfaa","b134ae7066084f42"]]},{"id":"62fa1d20811ccfaa","type":"debug","z":"2435003786a61d4b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":700,"wires":[]},{"id":"b31f47831a67d728","type":"http in","z":"2435003786a61d4b","name":"group_list_oup","url":"oup/api/3/action/group_list","method":"get","upload":false,"swaggerDoc":"f225018fecc690b3","x":120,"y":720,"wires":[["54aeb7bccac2a40f","45df58ef7d88e801"]]},{"id":"a136e9c3cdd19fd2","type":"http in","z":"2435003786a61d4b","name":"package_search_oup","url":"oup/api/3/action/package_search","method":"get","upload":false,"swaggerDoc":"5f4d5212dd3c318e","x":140,"y":920,"wires":[["34e5849d7e0285d7","70ab716fa91bb5b4"]]},{"id":"7878a77d7e07200c","type":"debug","z":"2435003786a61d4b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":360,"wires":[]},{"id":"453306f54bd9a37a","type":"function","z":"2435003786a61d4b","name":"mapper","func":"let p = 0\nlet hub = ''\nvar obj = []\nvar resources = []\n\n\nlet results = msg.payload.datasets.results\n\nfor (let i = 0; i < results.length; i++) {\n  obj[i] = \n  {\n    \"title\" : results[i].title,\n    \"notes\": results[i].description,\n    \"num_resources\" : results[i].resources.length,\n    \"author\": results[i].maintainer,\n    \"author_email\": results[i].maintainer_email,\n    \"license_id\": results[i].license\n  }\n  for (let k = 0 ; k < results[i].resources.length; k++) {\n    resources[k] =\n      { \"format\" : results[i].resources[k].format,\n        \"name\": results[i].resources[k].name,\n        \"url\": results[i].resources[k].url\n      }\n  }\n  obj[i].resources = resources\n  resources = []\n  p++\n}\n\ndelete msg.payload.datasets\n\nmsg.payload = \n{\n  \"help\": 'https://ckan.dataplatform.nl/api/3/action/help_show?name=package_search',\n  \"success\" : true,\n  \"result\" : \n  { \"count\" : p,\n      \"facets\" : {},\n      \"sort\" : \"name asc\",\n      \"search_facets\": {},\n  }\n}\nmsg.payload.result.results = obj\nreturn msg;\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":940,"wires":[["b134ae7066084f42","6d22ef7c0d50a523"]]},{"id":"6d22ef7c0d50a523","type":"debug","z":"2435003786a61d4b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":880,"wires":[]},{"id":"2a13ba9fba3e3e57","type":"change","z":"2435003786a61d4b","name":"Authorize","rules":[{"t":"set","p":"customHeaders.Authorization","pt":"msg","to":"payload.AuthenticationResult.AccessToken","tot":"msg"},{"t":"set","p":"payload.zoekterm","pt":"msg","to":"zoekterm","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":940,"wires":[["5574f3cba22391f8"]]},{"id":"28bafd46c582bb4e","type":"inject","z":"2435003786a61d4b","name":"","props":[{"p":"payload"},{"p":"payload.q","v":"TIR","vt":"str"},{"p":"payload.rows","v":"10","vt":"str"},{"p":"payload.start","v":"0","vt":"str"},{"p":"payload.sort","v":"name asc","vt":"str"},{"p":"payload.fq","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":480,"wires":[["5903b4d4eafef8a9"]]},{"id":"34e5849d7e0285d7","type":"debug","z":"2435003786a61d4b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":980,"wires":[]},{"id":"885eb33234aca7c3","type":"http request","z":"2435003786a61d4b","name":"Haal authkey op voor OUP","method":"POST","ret":"obj","paytoqs":"body","url":"https://cognito-idp.eu-central-1.amazonaws.com","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/x-amz-json-1.1"},{"keyType":"other","keyValue":"X-Amz-Target","valueType":"other","valueValue":"AWSCognitoIdentityProviderService.InitiateAuth"}],"x":460,"y":1180,"wires":[["d65c556c7817a809"]]},{"id":"d65c556c7817a809","type":"debug","z":"2435003786a61d4b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1140,"wires":[]},{"id":"0ca71f76018273f3","type":"inject","z":"2435003786a61d4b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"AuthParameters\":{\"USERNAME\":\"r.kok4@rotterdam.nl\",\"PASSWORD\":\"c5dJyjtd-qeDCv_\"},\"AuthFlow\":\"USER_PASSWORD_AUTH\",\"ClientId\":\"7aq59k1gfv7brr1bsdql8culqi\"}","payloadType":"json","x":230,"y":1160,"wires":[["885eb33234aca7c3"]]},{"id":"e5c8d8488fb96ce3","type":"http request","z":"2435003786a61d4b","name":"Haal authkey op voor OUP","method":"POST","ret":"obj","paytoqs":"body","url":"https://cognito-idp.eu-central-1.amazonaws.com","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/x-amz-json-1.1"},{"keyType":"other","keyValue":"X-Amz-Target","valueType":"other","valueValue":"AWSCognitoIdentityProviderService.InitiateAuth"}],"x":460,"y":700,"wires":[["ea92a97577a8128b"]]},{"id":"54aeb7bccac2a40f","type":"change","z":"2435003786a61d4b","name":"OUP un/pw","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"AuthParameters\":{\"USERNAME\":\"r.kok4@rotterdam.nl\",\"PASSWORD\":\"c5dJyjtd-qeDCv_\"},\"AuthFlow\":\"USER_PASSWORD_AUTH\",\"ClientId\":\"7aq59k1gfv7brr1bsdql8culqi\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":660,"wires":[["e5c8d8488fb96ce3"]]},{"id":"70ab716fa91bb5b4","type":"change","z":"2435003786a61d4b","name":"OUP un/pw","rules":[{"t":"set","p":"zoekterm","pt":"flow","to":"payload.q","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"AuthParameters\":{\"USERNAME\":\"r.kok4@rotterdam.nl\",\"PASSWORD\":\"c5dJyjtd-qeDCv_\"},\"AuthFlow\":\"USER_PASSWORD_AUTH\",\"ClientId\":\"7aq59k1gfv7brr1bsdql8culqi\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":860,"wires":[["6597b562862e088c"]]},{"id":"6597b562862e088c","type":"http request","z":"2435003786a61d4b","name":"Haal authkey op voor OUP","method":"POST","ret":"obj","paytoqs":"body","url":"https://cognito-idp.eu-central-1.amazonaws.com","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/x-amz-json-1.1"},{"keyType":"other","keyValue":"X-Amz-Target","valueType":"other","valueValue":"AWSCognitoIdentityProviderService.InitiateAuth"}],"x":480,"y":900,"wires":[["2a13ba9fba3e3e57"]]},{"id":"45df58ef7d88e801","type":"debug","z":"2435003786a61d4b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":780,"wires":[]},{"id":"4e9ae1ab5c378cf0","type":"inject","z":"2435003786a61d4b","name":"","props":[{"p":"payload.q","v":"dijken","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":860,"wires":[["70ab716fa91bb5b4"]]},{"id":"3eb83a19cfc5c666","type":"graphql-server","name":"OUP","endpoint":"https://acc-hub.clearly.app/graphql"},{"id":"dce86a29c49f29f1","type":"swagger-doc","summary":"Testdoc","description":"Testdoc api","tags":"fairdays","consumes":"","produces":"json,html","parameters":[],"responses":{"200":{"description":"","schema":{"properties":{"format":{"type":"string"}}}}},"deprecated":false},{"id":"67513f460997e291","type":"swagger-doc","summary":"Testdoc","description":"Testdoc api","tags":"fairdays","consumes":"","produces":"json,html","parameters":[],"responses":{"200":{"description":"","schema":{"properties":{"format":{"type":"string"}}}}},"deprecated":false},{"id":"290cb9633411732e","type":"swagger-doc","summary":"Testdoc","description":"Testdoc api","tags":"fairdays","consumes":"","produces":"json,html","parameters":[],"responses":{"200":{"description":"","schema":{"properties":{"format":{"type":"string"}}}}},"deprecated":false},{"id":"92848a600c524f27","type":"swagger-doc","summary":"Testdoc","description":"Testdoc api","tags":"fairdays","consumes":"","produces":"json,html","parameters":[],"responses":{"200":{"description":"","schema":{"properties":{"format":{"type":"string"}}}}},"deprecated":false},{"id":"f225018fecc690b3","type":"swagger-doc","summary":"Testdoc","description":"Testdoc api","tags":"fairdays","consumes":"","produces":"json,html","parameters":[],"responses":{"200":{"description":"","schema":{"properties":{"format":{"type":"string"}}}}},"deprecated":false},{"id":"5f4d5212dd3c318e","type":"swagger-doc","summary":"Testdoc","description":"Testdoc api","tags":"fairdays","consumes":"","produces":"json,html","parameters":[],"responses":{"200":{"description":"","schema":{"properties":{"format":{"type":"string"}}}}},"deprecated":false}]